<%# Close page-layout and main-content divs (opened in header.ejs when showSidebar=true) %>
<% if (typeof showSidebar !== 'undefined' && showSidebar) { %>
  </div><%# /main-content %>
</div><%# /page-layout %>
<% } %>

<script src="/js/collapse.js"></script>
</body>
</html>
